# PyCharm
venv
.idea
**/__pycache__

# Databases that I import from
twic_databases

# Exported Databases
chess960.pgn
filtered_database.pgn
incorrect_result.pgn
low_rated_database.pgn
too_short_games.pgn
